{{ define "main" }}
  {{ $toc := and (.Params.showTableOfContents | default (.Site.Params.list.showTableOfContents | default false)) (in .TableOfContents "<ul") }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="dark:text-neutral mt-0 text-4xl font-extrabold text-neutral-900">
      {{ .Title }}
    </h1>
  </header>
  <section
    class="prose dark:prose-invert {{ if $toc -}}
      mt-12
    {{- else -}}
      mt-0
    {{- end }} flex max-w-full flex-col lg:flex-row"
  >
    {{ if $toc }}
      <div
        class="order-first px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8"
      >
        <div class="toc ltr:pl-5 rtl:pr-5 lg:sticky lg:top-10">
          {{ partial "toc.html" . }}
        </div>
      </div>
    {{ end }}
    <div class="min-h-0 min-w-0 max-w-prose">
      {{ .Content | emojify }}
    </div>
  </section>
  {{ if gt .Pages 0 }}
    <section>
      {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
        {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
          <h2
            class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300"
          >
            {{ .Key }}
          </h2>
          <hr class="w-36 border-dotted border-neutral-400" />
        {{ end }}
        <div class="mt-12 grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-24">
          {{ range .Pages }}
            {{ partial "works/article-link.html" . }}
          {{ end }}
        </div>
      {{ end }}
    </section>
    {{ partial "pagination.html" . }}
  {{ else }}
    <section class="prose dark:prose-invert mt-10">
      <p class="border-t py-8">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
{{ end }}
