<form name="contact" method="POST" action="/success" data-netlify="true" netlify-honeypot="bot-field">
  <input type="hidden" name="subject" value="Contact inquiry from sfz.dev" />
  <p class="hidden">
    <label>
      Do NOT fill this out if you are human: <input name="bot-field" />
    </label>
  </p>
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
