{{/* Mapbox GL */}}
{{ $mapboxCSS := resources.Get "vendor/mapbox-gl/mapbox-gl.css" }}
{{ $mapboxJS := resources.Get "vendor/mapbox-gl/mapbox-gl.js" | resources.Fingerprint "sha512" }}
<link href="{{ $mapboxCSS.RelPermalink }}" rel="stylesheet" />
<script src="{{ $mapboxJS.RelPermalink }}"></script>
<script>
window.sfzMaps = window.sfzMaps || {}

if (!window.sfzMapsInitialized) {
  window.sfzMapsInitialized = true

  document.addEventListener("DOMContentLoaded", () => {
    mapboxgl.accessToken = "{{ getenv "MAPBOX_ACCESS_TOKEN" }}"

    const map_configs = [
      { key: "kawasaki",  center: [139.716971, 35.527478] },
      { key: "vancouver", center: [-123.1389,  49.261872] },
    ]

    const map_defaults = {
      style: "mapbox://styles/mapbox/standard",
      config: { basemap: { lightPreset: "night" } },
      language: "{{ .Page.Language.Lang }}",
      zoom: 12,
      pitch: 60,
    }

    const rotation_timing = 300
    const marker_color = "#ff3333"

    function initMap({ key, center }) {
      const raf_key = `${key}RafId`

      if (window.sfzMaps[raf_key]) {
        cancelAnimationFrame(window.sfzMaps[raf_key])
        window.sfzMaps[raf_key] = null
      }
      if (window.sfzMaps[key]) {
        window.sfzMaps[key].remove()
        window.sfzMaps[key] = null
      }

      const map = new mapboxgl.Map({ container: `map-${key}`, center, ...map_defaults })
      window.sfzMaps[key] = map

      new mapboxgl.Marker({ draggable: false, color: marker_color })
        .setLngLat(center)
        .addTo(map)

      function rotate(timestamp) {
        map.rotateTo((timestamp / rotation_timing) % 360, { duration: 0 })
        window.sfzMaps[raf_key] = requestAnimationFrame(rotate)
      }

      map.on("style.load", () => {
        map.addControl(new mapboxgl.FullscreenControl())
        window.sfzMaps[raf_key] = requestAnimationFrame(rotate)
      })
    }

    map_configs.forEach(initMap)
  })
}
</script>
